@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

:root { 
--text-color: hsl(266, 50%, 30%);
--bg-color: hsl(311, 38%, 94%);
--input-color: hsl(315, 12%, 80%);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}


/* Header */
.header { 
  display: flex;
  align-items: center;
  background-color: var(--input-color);
  padding: 10px 20px;
}


/* Grid */
.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  padding: 20px;
}

.grid .card {
  box-shadow: 0 10px 10px rgba(9, 17, 22, 0.5);
}




@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {
  .header, .grid {
    padding: 20px 100px;
  }
  
  .grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
  }
}